<!DOCTYPE html>
<html lang="en" ng-app="demoApp">
<head>
    <meta charset="UTF-8">
    <title>DOM with tags</title>
    <style>

    </style>
    <link rel="stylesheet" type="text/css" href="../bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../validation-tooltip.css">
    <script src="../jquery/jquery.min.js"></script>
    <script src="../bootstrap/bootstrap.min.js"></script>
    <script src="../1.5/angular.js"></script>
    <script src="../1.5/angular-messages.js"></script>
    <script src="custom-validation.js"></script>

</head>
<body>
<br><br><br><br><br>
<form name="userForm" ng-controller="Controller as ctrl" novalidate>
    <div class="form-group validation_tooltip" id="nameWrapper">
        <div class="control-label">Name:</div>
            <input type="text" name="name" ng-model="ctrl.user.name" class="form-control" madi-validator="messages" required>
        </div>
    </div>

    <button ng-click="formSubmit()">formSubmit</button>

</form>


</body>
</html>