.validation-tooltip {
    position: relative;
}
.validation-tooltip .tooltip-content {
    position: absolute;
    width:300px;
    color: #FFFFFF;
    background: #D94A4A;
    height: 30px;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
}
.validation-tooltip .tooltip-content:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 20%;
    margin-left: -8px;
    width: 0; height: 0;
    border-top: 8px solid #D94A4A;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
.validation-tooltip:hover .tooltip-content, .validation-tooltip.hovered  .tooltip-content {
    visibility: visible;
    opacity: 0.8;

    bottom: 50px;
    left: 40%;
    /*margin-left: -76px;*/
    z-index: 999;

}
