<!DOCTYPE html>
<html lang="en" ng-app="demoApp">
<head>
    <meta charset="UTF-8">
    <title>DOM with tags</title>
    <style>

    </style>
    <link rel="stylesheet" type="text/css" href="../bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../validation-tooltip.css">
    <script src="../jquery/jquery.min.js"></script>
    <script src="../bootstrap/bootstrap.min.js"></script>
    <script src="../1.5/angular.js"></script>
    <script src="../1.5/angular-messages.js"></script>

    <script src="../validation-tooltip.js"></script>

</head>
<body ng-controller="Controller">
<br><br><br><br><br>
<form name="userForm" novalidate>
<!--
    <div class="form-group validation_tooltip"
         id="firstNameWrapper"
         ng-class="{'has-error' : userForm.email.$invalid && validation}"
         ng-mouseenter="onMouseEnter($event)"
         ng-mouseleave="onMouseLeave($event)">
        <div class="control-label">Email: {{userForm.email.$invalid}})</div>
        <div>
            <input type="email" name="email" ng-model="user.email" class="form-control" required/>
            <div ng-messages="userForm.email.$error" role="alert" ng-show="userForm.email.$invalid && validation"
                 class="tooltip_content">
                <div ng-message="required">Поле обязательное для заполнения</div>
                <div ng-message="email">Некорректная информация</div>
            </div>
        </div>
    </div>
-->

    <div class="form-group validation_tooltip"
         id="mailWrapper"
         >
        <div class="control-label">Email:</div>
        <div>
            <input type="email" name="mail" ng-model="user.mail" class="form-control" required/>
        </div>
        <ui-validation-messages form="userForm.mail" messages="messages" validation="validation" wrapper-id="mailWrapper"/>
    </div>

    <div class="form-group validation_tooltip"
         id="nameWrapper"
         >
        <div class="control-label">Name:</div>
        <div>
            <input type="text" name="name" ng-model="user.name" class="form-control" required/>
        </div>
        <ui-validation-messages form="userForm.name" messages="messages" validation="validation" wrapper-id="nameWrapper"/>
    </div>

    <button ng-click="formSubmit()">formSubmit</button>

</form>


</body>
</html>